$orbital: rgb(51, 153, 255);
$orbital-10: rgba(51, 153, 255, 0.1);
$orbital-10: rgba(51, 153, 255, 0.15);

$dark-ambient: rgb(30, 30, 30);
$mine-shaft: rgb(40, 40, 40);
$dark-background: rgb(50, 50, 50);
$text-default: rgb(155, 155, 155);

$gray: rgb(128, 128, 128);
$gray-10: rgba(128, 128, 128, 0.1);
$gray-65: rgba(128, 128, 128, 0.65);

$gainsboro: rgb(220, 220, 220);

$brown: rgb(165, 42, 42);

$tomato: rgb(255, 99, 71);
$tomato-10: rgba(255, 99, 71, 0.1);
$tomato-45: rgba(255, 99, 71, 0.45);

$amber: rgb(255, 191, 71);
$amber-10: rgba(255, 191, 71, 0.1);

$purple: rgb(125, 38, 205);
$purple-10: rgba(125, 38, 205, 0.1);

$deluge: rgb(137, 89, 168);
$deluge-10: rgba(137, 89, 168, 0.1);

$chelsea-cucumber: rgb(135, 172, 78);
$chelsea-cucumber-10: rgba(135, 172, 78, 0.1);
$chelsea-cucumber-45: rgba(135, 172, 78, 0.45);

$boston-blue: rgb(72, 151, 190);
$boston-blue-10: rgba(72, 151, 190, 0.1);
$boston-blue-45: rgba(72, 151, 190, 0.45);

$sandy-brown: rgb(247, 166, 95);
$sandy-brown-10: rgba(247, 166, 95, 0.1);
$sandy-brown-45: rgba(247, 166, 95, 0.45);

$white: rgb(255, 255, 255);
$white-3: rgba(255, 255, 255, 0.03);
$white-4: rgba(255, 255, 255, 0.04);
$white-5: rgba(255, 255, 255, 0.05);
$white-8: rgba(255, 255, 255, 0.08);
$white-10: rgba(255, 255, 255, 0.1);
$white-30: rgba(255, 255, 255, 0.3);
$white-50: rgba(255, 255, 255, 0.5);

$black: rgb(0, 0, 0);
$black-10: rgba(0, 0, 0, 0.1);
$black-15: rgba(0, 0, 0, 0.15);
$black-25: rgba(0, 0, 0, 0.25);
$black-35: rgba(0, 0, 0, 0.35);
$black-40: rgba(0, 0, 0, 0.4);

$transparent: rgba(0, 0, 0, 0);